/* Tab Button show */
.tab-close-button:not([pinned]) {
    display: -moz-box !important;
}

/* make firefox great again */
#main-window[uidensity="compact"]  {
  --tab-min-height: 26px !important;
}

/* compact menu */
/*** Tighten up drop-down/context/popup menu spacing ***/

menupopup > menuitem, menupopup > menu {
  padding-block: 0.25em !important;
}
:root {
  --arrowpanel-menuitem-padding: 0.25em 0.5em !important;
}
/* end of compact menu */

#main-window[uidensity="compact"] .titlebar-buttonbox-container {
  max-height: 32px;
}

#main-window[uidensity="compact"] .tab-close-button {
	padding: 4px !important;
	width: 20px !important;
	height: 20px !important;
}

/* compact back and forward button */
#context-navigation:not([hidden]){
  height: 2em !important;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
	padding: 0.2em !important;
}

/* compact back and forward button */
